<html>
	<head>
		<title>ROCKWELL BUILDERS</title>
	    
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/grid.css" media="screen">
		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable=no">
			
	</head>
	<body>
		<div id="container">
			<div id="header" class="grid_12">
			</div>
	
			<div id="rcol" class="grid_2">
				<div id="logo" class="grid_2">
				   <img src="images/rockwell_logo2.png">
			    </div>
				
				<div id="ad" class="grid_2">
				   <p> Call us now for <Br> a<b> FREE Estimate </b>on
				   <Br><B>0798-347-9886</b></P>
			    </div>
			</div>
				

			<div id="lcol" class="grid_10">
					<div id="nav" class="omega">
						<ul>
							<li class="active"> <a href="about.html"> About us	</a></li>
							<li class="service"> <a href="services.html">   Services 	</a></li>							
							<li class="gallery"> <a href="#">  Gallery	</a></li>
							<li class="feedback"> <a href="feedback.html">   Feedback	</a></li>
							<li class="contact"> <a href="contact.html">   Contact Us</a></li>	
							
							
						</ul>
						
					</div>
				
					<div id="head_img">
						<img src="images/bkghead.jpg">
					</div>		
					
			
			        <div id="content" >

							<div id="sdata" style="float:right; width:50%; padding:2%;border-left:1px solid red;"><p>
							<h2>Services </h2>
							<ul>
								<li>Plastering</li>
								<li>Tiling  </li>
								<li>Painting and Decorating  </li>
								<li>Extensions  </li>
								<li>Loft Conversions  </li>
								<li>Carpentry  </li>
								<li>Complete Bathroom and Kitchen fitting  </li>
								<li>Flooring  </li>
								<li>Plumbing and Heating	</li>
								<li>Partition Walls	</li>
								<li>Brickwork,Stonework	</li>
								<li>Paving	</li>
								<li>Whole House Refurbishments	</li>
								<li>Structrual Design and Planning Permission	</li>
								
							</ul>
							</p></div>
							
							<div id="simg">
								<img src="images/hat.png">
							
							</div>
							<div style="clear:both;"></div>
							

					</div>
						<!--	<p>
							<h2>Welcome!</h2>
							We are a team of professional builders that have been trading for over 15 years.<br>
							At Rockwell Builders no matter how big or small the job is we will be able to <Br>
							guarantee completion with the highest quality and	satisfaction. <br>
							We offer a reliable, friendly and clean service at reasonable prices.<br>
							Most of all we are honest and trustworthy.<br>
							</p>
				
					</div>

<div id="feedcon">					
<div id="feed">
    <p class="feedback">
	    <span class="hat">"</span>
			For success; the most important thing is Understanding of Goal and implementation within the time frame. The way VMG Software Solutions understood our requirements and the solution which, you and your team has given is fantabulous. Keep doing the great work.
		<span class="hat">"</span><br>
		<span class="name">RAYINFOWEB PVT LTD (AHMEDABAD, INDIA)</span>
	</p>
</div>

<div id="feed">
    <p class="feedback">
	    <span class="hat">"</span>
			Rockwell is a very timely clean and creative team. Thanks!
		<span class="hat">"</span><br>
		<span class="name">Bob and Cindy, Perrysburg</span>
	</p>
</div>

<div id="feed">
    <p class="feedback">
	    <span class="hat">"</span>
			For success; the most important thing is Understanding of Goal and implementation within the time frame. The way VMG Software Solutions understood our requirements and the solution which, you and your team has given is fantabulous. Keep doing the great work.
		<span class="hat">"</span><br>
		<span class="name">RAYINFOWEB PVT LTD (AHMEDABAD, INDIA)</span>
	</p>
</div>
</div>
-->
  <!--End of FEEDCON container -->
														
					
			</div>
		
			<div id="footer" class="grid_12">
						<cprt> <!--copyright-->
						All rights reserved &#64; RockwellBuilders.co.uk
						</cprt>
						
						<social> <!--fb twitter.. -->
							f &#09; Y
						</social>
			</div>
					
	 </div>
	</body>
</html>